<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.aaryan.careerboard.server</string>
  <key>WorkingDirectory</key><string>/Users/aaaryanchawla/career-tracker/web</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>-m</string>
    <string>http.server</string>
    <string>8765</string>
    <string>--bind</string>
    <string>127.0.0.1</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/Users/aaaryanchawla/career-tracker/logs/server.out</string>
  <key>StandardErrorPath</key><string>/Users/aaaryanchawla/career-tracker/logs/server.err</string>
</dict>
</plist>
